* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  min-width: 800px;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
//   border: 1px solid red;
}
.tree {
    width: 100%;
    height: 100%;
    // object-fit: contain;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transform-origin: bottom center;
    // border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.apples {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
}
#apple1 {
  left: 80%;
  bottom: 400px;
  transition: 100ms linear;
}
#apple2 {
  left: 15%;
  bottom: 400px;
}
#apple3 {
  left: 30%;
  bottom: 550px;
}
#apple4 {
  left:35%;
  bottom: 450px;
}
#apple5 {
  left: 50%;
  bottom: 600px;
}
#apple6 {
  left: 60%;
  bottom: 525px;
}
#apple7 {
  left: 70%;
  bottom: 350px;
}

#basket{
    position: absolute;
    z-index: 2;
    width: 20%;
    height: 20%;
    right: 5%;
    bottom: 5%;
}